site_name: Make It Racing
site_url: https://makeitracing.com
theme: 
  features:
    - navigation.footer
  name: material
  logo: assets/logo-wide.png
  favicon: assets/favicon.ico
  palette:     
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: black
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: black
      accent: deep orange

markdown_extensions:  
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences  
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true      

extra:
  social:
    - icon: simple/youtube
      link: https://youtube.com/@
copyright: Copyright &copy; 2024 Make It Racing     